$white: #f0f4ff;
$gray: #666;
$blue: #4269e2;
$black: #000;
$red: #ff3b30;

$defaultFontFamily: "Helvetica", "Arial", sans-serif;
$defaultFontSize: 14px;
$defaultBackgroundColor: $white;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;
$borderRadiusSmall: 3px;
$borderRadiusBig: 16px;
